body {
  height: 578px;
  background:
      linear-gradient(8deg, #DBE3E9 400px, #64B5F6 0px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.unauth {
  opacity: .4;
  filter: grayscale(100%);
}
