@import '~sass-flex-mixin/flex';

.auth-app {
  @extend %flexbox;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);

  width: 70%;
  margin: 3px 15%;
  min-height: 70px;
}

.app-info {
  @extend %flexbox;
  @include align-items(center);
  @include justify-content(center);

  height: 65px;
  width: 100%;
  border: solid 1.3px #DBE3E9;
  border-radius:: 3px;
  cursor: pointer;
}

.app-icon {
  height: 40px;

  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.4);
  }

  .unauth {
    filter:grayscale(100%);
  }
}
