@import '~sass-flex-mixin/flex';

.auth-app {
  @extend %flexbox;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
}

.app-info {
  @extend %flexbox;
  @include align-items(center);
  @include justify-content(center);

  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.7);
  }
}

.app-icon {
  height: 40px;
}

.binding-section {
  font-size: 15px;
}
